//------------------
//	!Colors
//------------------

//--- Brand colors ---//
$color-scheme: (
	main: (
		base:  #ff7013,
		light: #ff802c,
		dark:  #b24802
	),
	sub: (
		base:  #2d3e50,
		light: #3f5765,
		dark:  #2B3A42
	),
	accent: (
		base:  #1bbc9b,
		light: #1dc9a6,
		dark:  #127c66
	),
	bg: (
		base:  #bdd4de,
		light: #efefef,
		dark:  #2d3e50
	),
	status: (
		base: 	 #21b0ff,
		info: 	 #21b0ff,
		success: #4caf50,
		warning: #fdd949,
		danger:  #e91c01
	),
	social: (
		base:				rgb(59, 89, 152),
		facebook:		rgb(59, 89, 152),
		googleplus:	rgb(220, 78, 65),
		instagram:	rgb(63, 114, 155),
		lastfm:			rgb(213, 16, 7),
		linkedin:		rgb(0, 119, 181),
		pinterest:	rgb(189, 8, 28),
		twitch:			rgb(100, 65, 165),
		twitter:		rgb(85, 172, 238),
		vimeo:			rgb(26, 183, 234),
		vine:				rgb(0, 164, 120),
		youtube:		rgb(205, 32, 31)
	)
);


@each $scheme, $colors in $color-scheme {
	@each $name, $color in $colors {
		.#{$scheme}-#{$name} {
			color: $color;
		}

		.bg-#{$scheme}-#{$name} {
			background-color: $color;
		}
	}
}
