//------------------
//	!Colors
//------------------

$grid: (
	width: 	   120rem,
	col-width: 1fr,
	columns:(
		mobile:  2,
		tablet:  6,
		laptop:  6,
		desktop: 12,
		tv: 		 12
	),
	breakpoints: (
		mobile:  20em,
		tablet:  36em,
		laptop:  48em,
		desktop: 65em,
		tv: 		 80em
	),
	gutter: (
		mobile:  1rem,
		tablet:  2rem,
		laptop:  3rem,
		desktop: 4rem,
		tv: 		 4rem
	)
);
