-
	var menu = [
		{"name": "Over mij", "url": "#"},
		{"name": "Vaardigheden", "url": "#"},
		{"name": "Portfolio", "url": "#"},
		{"name": "Contact", "url": "#"}
	]

doctype html

html(lang="nl")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#2d3e50")
		link(rel="stylesheet", href="css/style.css", type="text/css")
		title Maikel Mast portfolio

body
	header
		.container
			.logo
				include ../img/full-logo.svg
				p aikel
				p ast

	nav
		.container
			ul
				each item in menu
					li
						a(href=item.url) !{item.name}

	.menu-button
		.icon
			each i in new Array(3)
				span

	section.banner
		article
			.container
				p Slider
				.scroll-down
					a(href="#about")
						span.mouse
							span
						span.text Scroll

	section#about.about
		main
			.container
				.content
					header
						h1 Main content section
					p Als front-end designer en ontwikkelaar ontwerp en realiseer ik een passende (web)applicatie met oog op UX en UI. In het process zet ik klant- ideeën en inspiratie om in requirements, wireframes, usecases en flow diagrams. De ideaale UX komt op papier na usability testing, waarna vervolgens een passend design komt met een tool als Sketch. Tot slot de realisatie of hand-over. 
				.personal-card
					.photo
					h2 Maikel Mast
					.details
						.labels
							p Naam
							p Datum
							p Plaats
							p Nationaliteit
							p Staat
						.values
							p Maikel Mast
							p 04 jan. 1991
							p Nijmegen
							p Nederlandse
							p Ongehuwd
					.btn.social-linkedin Bekijk op LinkedIn

	section.toolbar
		article
			.container
				header
					h2 Tools / programma's
				each i in new Array(12)
					.tool-icon

	section.skill-set
		article
			.container
				.skill
					.progressbar(data-target="90%")
						.label HTML 5
						.bar
							span
					.progressbar(data-target="100%")
						.label Bootstrap / Bourbon
						.bar
							span
					.progressbar(data-target="95%")
						.label CSS3 / SASS / LESS
						.bar
							span
					.progressbar(data-target="80%")
						.label JS + jQuery
						.bar
							span
					.progressbar(data-target="75%")
						.label PHP / TWIG
						.bar
							span
					.progressbar(data-target="80%")
						.label Drupal 8
						.bar
							span
						
	section.work
		article
			.container
				.list
					h2 Worked for...
					a.brand-logo(href="https://www.intrasurance.nl/" target="_blank")
						include ../img/logo-its.svg
					a.brand-logo(href="https://www.verzekeruzelf.nl/" target="_blank")
						include ../img/logo-vuz.svg
					a.brand-logo(href="https://www.coolermedia.nl/" target="_blank")
						include ../img/logo-coolermedia.svg
					a.brand-logo(href="https://www.movements.nl/" target="_blank")
						include ../img/logo-movements.svg
					a.brand-logo(href="https://www.wiwi.nl/" target="_blank")
						include ../img/logo-wiwi.svg
					a.brand-logo(href="http://mediamail.nl/" target="_blank")
						include ../img/logo-mediamail.svg

	section.portfolio
		article
			.container
				header
					h2 Article title
					p Posted on September 4th 2009 by Writer - 6 comments
				.content
					.item
						img(src="img/movements.png")
					.item
						img(src="img/cooler.png")
					.item
						img(src="img/esecor.png")
					.item
						img(src="img/vuz.png")
					.item
						img(src="img/vuz.png")
					.item
						img(src="img/vuz.png")
					

	section.contact
		article
			.container
				header
					h2 Article title
					p Posted on September 4th 2009 by Writer - 6 comments
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

	footer
		.container
			p Copyright 2017 Maikel
			
	.loading-screen
		.content
			svg.spinner(viewBox="0 0 50 50")
				circle(cx="25", cy="25", r="20", fill="none")
			p Aan het laden...

	script(src="https://code.jquery.com/jquery-3.2.1.min.js",
				 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
				 crossorigin="anonymous")
	script(src="js/script.min.js")
