section.about {
	@include outer-container;

	.container {
		padding: grid(gutter, mobile);
		margin-bottom: grid(gutter, desktop);
	}

	.content {
		grid-row: 2;
		grid-column: 1 / 3;
		padding-top: 0.4rem;
		@include break(tablet){ grid-row: 1; grid-column: 1/7; };
		@include break(desktop){ grid-column: 5/13; };
	}

	.personal-card {
		grid-row: 1;
		grid-column: 1 / 3;
		margin-top: -6rem;
		margin-bottom: 6rem;
		text-align: center;
		@include card(4);
		@include break(tablet){ grid-column: 1/7; };
		@include break(desktop){ grid-column: 1/5; };
		@include transition( translateY(100%) );
	}

	.btn {
		margin-top: 4rem;
	}

	.details {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.labels {
		flex-shrink: 1;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.8em;
		text-align: right;
		margin-right: 2rem;
		p { line-height: 2.5; }
	}

	.values {
		flex-grow: 1;
		font-size: 0.8em;
		p { line-height: 2.5; }
		@include break (tablet) {
			font-size: 1em;
			p { line-height: 2; }
		};
	}

	.photo {
		display: block;
		background-color: c(main);
		border-radius: 8rem;
		width: 10rem;
		height: 10rem;
		margin: -7rem auto 2rem;
		@include box-shadow(2);
	}
}
