section.banner {
	margin-top: -8.8rem;
	background-color: c(accent);
	color: text-color(c(accent));
	clip-path: polygon(0 0, 0% 100%, 100% calc(100% - 6rem), 100% 0%);
	@include outer-container;
	@include break (laptop) {
		margin-top: -12.2rem;
		clip-path: polygon(0 0, 0% 100%, 100% calc(100% - 15rem), 100% 0%);
		.container { padding: grid(gutter, desktop) 0 20rem; }
	};

	.container {
		height: calc(100vh + 10rem);
		padding: 12rem 0;
		box-sizing: border-box;
	}

	.scroll-down {
		grid-column: 1/3;
		align-self: flex-end;
		@include break (tablet) { grid-column: 1/7; };
		@include break (desktop) { grid-column: 1/13; };
	}
}
