body > footer {
	background-color: c(sub);
	color: text-color(c(sub));
	@include outer-container;

	.container {
		padding: grid(gutter, tablet);
	}

	p {
		text-align: center;
		grid-column: 1 / 3;
		color: text-color(c(sub));
		@include break(tablet) { grid-column: 1 / 7; };
		@include break(desktop) { grid-column: 1 / 13; };
	}
}
