body > header {
	background-color: c(sub);
	color: text-color(c(sub));
	z-index: 1;
	@include outer-container;

	.container {
		padding: grid(gutter, mobile);
	}

	.logo {
		grid-column: 1 / 3;
		@include break(tablet) { grid-column: 1 / 7; };
		@include break(desktop) { grid-column: 1 / 13; };
	}
}
