.loading-screen {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: c(main);
	z-index: 10;

	.content {
		width: 100%;
		text-align: center;
		color: c(white);
		@include absolute-align(vertical);
	}

	.spinner {
		@include spinner(6rem, c(white), 3);
	}

	p {
		margin-top: grid(gutter, mobile);
		color: c(white);
	}
}

.spinner {
	@include spinner;
}
