.logo {
	display: inline-block;

	svg {
		height: 6.8rem;
		float: left;
	}

	path {
		fill: c(main);
		transition: all ease $ts;
	}

	p {
    margin-top: 1.4rem;
		line-height: 1.4rem;
		text-indent: -2rem;
		opacity: 0;
		color: c(main);
		transition: all ease $ts;
		&:last-child { margin-top: 0.8rem; transition-delay: 0.1s; }
	}

	&:hover p { text-indent: -0.6rem; opacity: 1; }
	&:hover .top-m { d: path('M86 16 62 56 38 16 30 16 30 90 38 90 38 30 62 68 86 30 86 90 94 90 94 16 86 16Z'); }
	&:hover .bot-m { d: path('M86 94 62 134 38 94 30 94 30 168 38 168 38 108 62 146 86 108 86 168 94 168 94 94 86 94Z'); }
	&:hover .point { d: path('M72 236 83 220 80 204 63 196 46 204 43 220 54 236 72 236Z'); fill: c(main, dark); }
}
