.menu-button {
	cursor: pointer;
	display: block;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 6rem;
	width: 6rem;
	border-radius: 6rem;
	text-align: center;
	background-color: c(main);
	z-index: 9;
	transition:  transform $ts $tt, box-shadow $ts $tt;
	transform: rotate(0deg);
	@include box-shadow(3);
	@include break(tablet) { display: none; };

	.icon {
		transform: translate(1.4rem, 2rem);
	}

	span {
		display: block;
		position: absolute;
		height: 0.3rem;
		width: 3.2rem;
		background: text-color(c(main));
		opacity: 1;
		left: 0;
		transition: all $tt $ts;

		&:nth-child(1) {
			top: 0;
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: 0.8rem;
			transform-origin: left center;
		}

		&:nth-child(3) {
			top: 1.6rem;
			transform-origin: left center;
		}
	}
}

nav.open + .menu-button {
	box-shadow: none;

	span:nth-child(1) {
		top: -0.3rem; left: 0.5rem;
		transform: rotate(45deg);
	}

	span:nth-child(2) {
		width: 0%;
  	opacity: 0;
	}

	span:nth-child(3) {
		top: 2rem; left: 0.5rem;
		transform: rotate(-45deg);
	}
}
