body > nav {
	pointer-events: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	clip-path: circle(3rem at calc(100% - 4rem) calc(100% - 4rem));
	transition: clip-path $tt $ts, box-shadow $tt $ts;
	z-index: 8;
	@include box-shadow(4);

	.container {
		height: 100%;
	}

	ul {
		display: flex;
		flex-direction: column;
		height: 80vh;
		text-align: center;
		padding: grid(gutter, tv);
		@include break (tablet) { flex-direction: row; };
		&:before {
			content: 'Menu';
			flex-grow: 1;
			margin-bottom: 2rem;
			color: c(white);
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 0.4rem;
			font-weight: 900;
		}
	}

	ul li {
		position: relative;
		flex-grow: 1;
		width: 100%;
		margin-bottom: 2rem;
		@include break (tablet) { width: auto; margin-bottom: 0; };

		a {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			color: c(white);
			text-decoration: none;
			font-size: 2rem;
			letter-spacing: 0.1rem;
			@include break (tablet) { position: relative; };
		}
	}

	&.open {
		pointer-events: initial;
		clip-path: circle(200% at 100% 100%);
		box-shadow: 0;
	}

	@include break (tablet) {
		background-color: c(sub, dark);
		color: text-color(c(sub, dark));
		clip-path: none;
		box-shadow: none;
		padding: 0;
		@include outer-container;

		.container {
			height: auto;
			padding: grid(gutter, mobile);
		}

		ul {
			display: inline-block;
			height: auto;
			grid-column: 1/7;
			padding: 0;
			text-align: left;
			&:before { content: none; }
		}

		li {
			display: inline-block;
			margin-right: 2rem;
		}
	};
}
