body > section.portfolio {
	@include outer-container;

	header, p {
		grid-column: 1/3;
		@include break (tablet) { grid-column: 1/7; };
		@include break (laptop) { grid-column: 1/13; };
	}

	.content {
		display: grid;
		grid-column: span 2;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: 12rem;
		grid-gap: 1rem;
		@include break (tablet) { grid-column: span 6; };
		@include break (laptop) { grid-column: span 12; };
	}

	.item {
		grid-column: span 6;
		grid-row: span 2;
		overflow: hidden;

		&:hover img {
			filter: blur(0.5rem) brightness(40%);
			transform: scale(1.05);
		}

		@include break (tablet) {
			grid-column: span 3;
			grid-row: span 2;
			&:nth-child(1) { grid-column: span 4; grid-row: span 2; }
			&:nth-child(2) { grid-column: span 2; grid-row: span 4; }
			&:nth-child(3) { grid-column: span 2; grid-row: span 3; }
			&:nth-child(4) { grid-column: span 2; grid-row: span 2; }
			&:nth-child(5) { grid-column: span 4; grid-row: span 3; }
			&:nth-child(6) { grid-column: span 2; grid-row: span 2; }
		};
	}

	img {
		max-width: 100%;
		min-height: 100%;
		transform: scale(1.02);
		object-fit: cover;
		transition: all $tt $ts;
	}
}
