.scroll-down {
	margin-bottom: 2rem;

	a {
		display: block;
    width: 100%;
    text-align: center;
		text-decoration: none;
	}

	.mouse, .mouse span {
		position: relative;
		display: inline-block;
		width: 6rem;
		height: 6rem;
		background-color: highlight(30);
		border-radius: 6rem;
		text-align: center;

		@include break (laptop) {
			width: 3.5rem;
			border: 0.3rem solid c(white);
			background-color: transparent;
		};
	}

	.mouse span {
		animation: border-grow 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;

		@include break (laptop) {
			display: block;
			position: absolute;
			top: 29%; left: 50%;
			width: 0.4rem;
			height: 0.4rem;
			margin: -0.4rem 0 0 -0.5rem;
			background-color: c(white);
			border-radius: 50%;
			animation: mouse-scroll 2.5s linear infinite;
		};
	}

	.mouse:after, .mouse:before {
		@include material-icons(keyboard_arrow_down);
		position: absolute;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, 0);
		font-size: 4rem;
		color: c(sub, dark);

		@include break (laptop) { content: none; };
	}

	.mouse:before {
		top: 0.6rem;
		animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	}

	.mouse:after {
		top: 1.6rem;
		animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	}

	.text {
		display: block;
		margin-top: 1.6rem;
		color: c(sub, dark);
		text-transform: uppercase;

		@include break (laptop) {
			color: c(white);
			margin-top: 0.5rem;
		};
	}
}

@keyframes border-grow {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 0; transform: scale(1.4); }
}

@keyframes down-arrow-before {
	50% { transform: translate(-50%, 1rem); }
	100% { transform: translate(-50%, 1rem); }
}

@keyframes down-arrow-after {
	50% { transform: translate(-50%, 1rem); opacity: 0; }
	51% { transform: translate(-50%, -2rem); }
	100% { transform: translate(-50%, -1rem); opacity: 1; }
}

@keyframes mouse-scroll {
	0% { opacity: 1; top: 29%; }
	15% { opacity: 1; top: 50%; }
	50% { opacity: 0; top: 50%; }
	100% { opacity: 0; top: 29%; }
}
