body > section.skill-set {
	background-image: url('../img/geometric-pattern.svg');
	background-repeat: repeat;
	background-blend-mode: multiply;
	background-size: 80%;
	background-position: center;
	background-color: c(sub);
	color: text-color(c(sub));
	clip-path: polygon(0 6rem, 0% 100%, 100% calc(100% - 6rem), 100% 0%);
	transition: background-size $tt $ts;
	animation: background-breathing 15s infinite ease;
	@include outer-container;

	&:after {
		content: '';
		pointer-events: none;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(135deg, c(sub) 0%, c(accent) 100%);
		opacity: 0.2;
		z-index: -1;
	}

	.container {
		padding: 12rem 0;
		@include break (tablet) { padding: 8rem 0; };
	}

	.skill {
		grid-column: 1/3;
		@include break (tablet) { grid-column: 1/4; };
		@include break (desktop) { grid-column: 1/7; };
	}

	.progressbar {
		width: 100%;
		margin-bottom: 3rem;
	}

	.label {
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
	}

	.bar {
		position: relative;
		width: 100%;
		height: 2rem;
		background-color: gray(10);

		span {
			position: absolute;
			top: 0; left: 0;
			height: 2rem;
			width: 0%;
			line-height: 2rem;
			text-align: center;
			background-color: c(main);
			color: transparent;
			transition: all 1s $tt;
		}
	}

	@include break (laptop) {
		clip-path: polygon(0 15rem, 0% 100%, 100% calc(100% - 15rem), 100% 0%);
		.container { padding: 20rem 0 17.4rem; }
	};
}

@keyframes background-breathing {
    0% 		{ background-size: 80%; }
    50% 	{ background-size: 100%; }
		100% 	{ background-size: 80%; }
}
