section.toolbar {
	@include outer-container;

	.container {
		padding: grid(gutter, mobile);
		margin-bottom: grid(gutter, desktop);
	}

	header {
		grid-row: 1;
		grid-column: 1/3;
		@include break(tablet){ grid-column: 1/7; };
		@include break(desktop){ grid-column: 1/13; };
	}

	.tool-icon {
		background-color: c(main);
		border-radius: 0.8rem;
		width: 100%;
		height: 6rem;
		margin-bottom: grid(gutter, tablet);
	}
}
