body > section.work {
	pointer-events: none;
	margin-top: -15rem;
	overflow-x: hidden;
	@include outer-container;
	@include break (tablet) { margin-top: -56rem; };
	@include break (desktop) { margin-top: -66rem; };

	.container {
		padding: 8rem 0;
	}

	.list {
		pointer-events: all;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		grid-column: 1 / 3;
		@include transition;
		@include card(4);
		@include break (tablet) { grid-column: 4 / 7; };
		@include break (desktop) { grid-column: 7 / 13; };

		h2 {
			width: 100%;
			margin-bottom: 2rem;
		}

		.brand-logo {
			display: flex;
			width: 48%;
			min-height: 100%;
			margin-bottom: 1rem;
			align-content: center;
			background-color: gray(4);
			border-radius: $btn-radius;
			padding: 2rem;
			box-sizing: border-box;
		}

		a {
			display: inline-block;
			width: 100%;
			height: auto;
			flex-shrink: 1;
		}

		svg {
			width: 100%;
			height: auto;
			max-height: 10rem;
			.brand-name-main  path { fill: rgb(0, 70, 133); }
			.brand-name-main  polyline { fill: rgb(0, 70, 133); }
		}
	}
}
