@function convert-color ($colorCode) {
  $red:     red($colorCode);
  $green:   green($colorCode);
  $blue:    blue($colorCode);
  $opacity: opacity($colorCode);

  @return 'rgba(#{$red}, #{$green}, #{$blue}, #{$opacity})';
}
