/*--- !Buttons and animations ---*/
$btn-radius: 0.4rem;
$ts:         0.3s; // Transition speed
$tt:         cubic-bezier( 0.7, 0, 0.3, 1 ); // Transition timing
$ts-slow: 	 2s;
$tt-slow: 	 cubic-bezier(0.23, 1, 0.32, 1);

/*---- !Shadows ----*/
$shadow-level-1: 0 0.1em 0.3em rgba( 0, 0, 0, 0.12 ), 0 0.08em 0.1em rgba( 0, 0, 0, 0.24 );
$shadow-level-2: 0 0.2em 0.5em rgba( 0, 0, 0, 0.16 ), 0 0.2em 0.5em rgba( 0, 0, 0, 0.23 );
$shadow-level-3: 0 0.7em 1.5em rgba( 0, 0, 0, 0.19 ), 0 0.4em 0.4em rgba( 0, 0, 0, 0.23 );
$shadow-level-4: 0 1em 1.8em rgba( 0, 0, 0, 0.25), 0 0.7em 0.7em rgba(0, 0, 0, 0.22);
$shadow-level-5: 0 1.3em 2.5em rgba( 0, 0, 0, 0.3 ), 0 1em 0.9em rgba( 0, 0, 0, 0.22 );

//------------------
//	!Imports
//------------------

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import 'variables/*';
@import 'functions/*';
@import 'mixins/*';
@import 'components/*';

html {
	font-size: 62.5%;
}

body {
	font-family: 'Libre Franklin', sans-serif;
	color: gray(60);
	background-color: c(bg, light);
}

p {
	font-size: 1.6em;
	line-height: 2;
	letter-spacing: .1em;
}

h1 {
	color: c(sub);
	font-size: 3.2em;
	margin-bottom: 4rem;
}

h2 {
	font-size: 2.4em;
	letter-spacing: 0.1em;
	margin-bottom: 4rem;
}

section > main,
section > article {
	> * {
		grid-column: 1 / 13;
	}
}
