@mixin absolute-border ($position: top) {
		content: '';
		display: block;
		position: absolute;
		right: 0;	left: 0;
		border-top: .1rem solid $black-15;
		z-index: -1;
		@include break(md){right: -9999px;  bottom: 0;  left: -9999px;}

    @if $position == bottom {
      bottom: 0;
    }@else {
      top: 0;
    }
}
