@mixin absolute-align ($axis: null) {
	@if $axis == 'horizontal' {
		position: absolute; left: 50%;
		transform: translate3d( -50%, 0, 0 );
	}@else if $axis == 'vertical' {
		position: absolute; top: 50%;
		transform: translate3d( 0, -50%, 0 );
	}@else {
		position: absolute; top: 50%; left: 50%;
		transform: translate3d( -50%, -50%, 0 );
	}
}
