@mixin aspect-ratio ($width: 16, $height: 9) {
	position: relative;
	z-index: 1;

	&:before{
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> iframe, .content{
		position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		height: 100%;
		width: 100%;
	}
}
