@mixin box-shadow ($level) {
	@if( $level == 1 ){
		box-shadow: $shadow-level-1;
	}@else if( $level == 2 ) {
		box-shadow: $shadow-level-2;
	}@else if( $level == 3 ) {
		box-shadow: $shadow-level-3;
	}@else if( $level == 4 ) {
		box-shadow: $shadow-level-4;
	}@else if( $level == 5 ) {
		box-shadow: $shadow-level-5;
	}
}
