@mixin btn ($style: default, $color: #666, $size: default) {
	position: relative;
  display: inline-block;
  cursor: pointer;
	letter-spacing: 0.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
	text-decoration: none;
  border: none;
  border-radius: $btn-radius;
  transition: background $ts $tt, color $ts $tt;

	&.disabled, &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

	@if ($style == raised) {
		color: text-color($color);
		background-color: $color;
	  transition: box-shadow $ts $tt, background-color $ts $tt, padding $ts $tt;
	  @include box-shadow(1);

	  &:hover {
	    @include box-shadow(2);
	    &:before { opacity: 0.05; }
	  }

	  &:before {
	    content: '';
	    position: absolute;
	    top: 0; right: 0; bottom: 0; left: 0;
	    height: 100%;
	    width: 100%;
	    background-color: text-color($color);
	    opacity: 0;
	    border-radius: $btn-radius;
	    transition: opacity $tt $ts;
	  }
	}@else if ($style == border) {
		border: solid 0.1rem $color;
		color: $color;
		transition: background-color $tt $ts, color $tt $ts;

		&:hover {
			color: text-color($color);
			background: $color;;
		}
	}@else {
		color: $color;
		&:hover {
	    color: $color;
	    background-color: shadow(5);
	  }
	}

	@if ($size == sm){
		padding: 0 0.8rem;
		line-height: 2.8rem;
	}@else if ($size == lg){
		padding: 0.6rem 2rem;
	  line-height: 4rem;
	}@else {
		padding: 0 1.6rem;
		line-height: 3.6rem;
	}
}

.btn {
	@include btn(raised);
	@each $scheme, $colors in $color-scheme {
		@each $name, $color in $colors {
	    &.#{$scheme}-#{$name} {
	      color: text-color($color);
	      background-color: $color;
	      &:before{ background-color: text-color($color); }
	      &:hover:before{ opacity: 0.2; }
	    }
		}
  }
}

.btn-flat {
	@include btn(flat);
	@each $scheme, $colors in $color-scheme {
		@each $name, $color in $colors {
	    &.#{$scheme}-#{$name} {
	      color: $color;
	    }
		}
  }
}

.btn-border {
	@include btn(border);
	@each $scheme, $colors in $color-scheme {
		@each $name, $color in $colors {
	    &.#{$scheme}-#{$name} {
	      color: $color;
				border-color: $color;
				&:hover { color: text-color($color); background-color: $color; }
	    }
		}
  }
}
