@mixin custom-font ($family-name, $sub-path, $file-name, $cache-bust, $weight: normal, $style: normal) {
	$_font-path: '../fonts';

	$_formats: (
		eot:		'embedded-opentype',
		ttf: 		'truetype',
		woff: 	'woff',
		woff2: 	'woff2',
		svg: 		'svg'
	);

	@if $family-name {
		$_src-list: ();
		@each $_format in $_formats {
			$_format-code: nth($_format, 1);
			$_format-name: nth($_format, 2);

			$_src: url('#{$_font-path}/#{$sub-path}/#{$file-name}.#{$_format-code}?#{if($_format-code == eot, 'iefix', '')}#{$cache-bust}');
			$_src: append($_src, format('#{$_format-name}'), 'space');
			$_src-list: append($_src-list, $_src, 'comma');
		}

		font-family: $family-name;
		src: url('#{$_font-path}/#{$file-name}.eot?#{$cache-bust}');
		src: $_src-list;

		font-weight: $weight;
		font-style: $style;
	}@else {
		@warn 'Error: family name must be given';
	}
}
