@mixin outer-container ($class: container) {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
  grid-column: full;
	justify-content: center;
	padding: 0 grid(gutter, mobile);
	@include break(tablet){ padding: 0 grid(gutter, tablet); };
	@include break(laptop){ padding: 0 grid(gutter, laptop); };
	@include break(desktop){ padding: 0 grid(gutter, desktop); };
	@include break(tv){ padding: 0 grid(gutter, tv); };

	.#{$class} {
		display: grid;
		grid-template-columns: repeat(grid(columns, mobile), grid(col-width));
		grid-column-gap: grid(gutter, mobile);
		justify-content: center;

		@include break(tablet) {
			grid-template-columns: repeat(grid(columns, tablet), grid(col-width));
			grid-column-gap: grid(gutter, tablet);
		};

		@include break(laptop) {
			grid-template-columns: repeat(grid(columns, laptop), grid(col-width));
			grid-column-gap: grid(gutter, laptop);
		};

		@include break(desktop) {
			grid-template-columns:
				repeat(
					grid(columns, desktop),
					minmax(0, grid(width)/grid(columns, desktop) - grid(gutter, desktop))
				);
			grid-column-gap: grid(gutter, desktop);
		};
	}
}

@mixin gutter ($direction: vertical) {
	@if ($direction == vertical) {
		padding: grid(gutter, mobile) 0;
		@include break(tablet){padding: grid(gutter, tablet) 0; };
		@include break(laptop){ padding: grid(gutter, laptop) 0; };
		@include break(desktop){ padding: grid(gutter, desktop) 0; };
		@include break(tv){ padding: grid(gutter, tv) 0; };
	}@else {
		padding: 0 grid(gutter, mobile);
		@include break(tablet){padding: 0 grid(gutter, tablet); };
		@include break(laptop){ padding: 0 grid(gutter, laptop); };
		@include break(desktop){ padding: 0 grid(gutter, desktop); };
		@include break(tv){ padding: 0 grid(gutter, tv); };
	}
}
