@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin material-icons($icon: null) {
  @if $icon {
    content: '#{$icon}';
  }

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
	@include font-smoothing;
}
