@mixin spinner ($size: 5rem, $color: c(main), $stroke: 5) {
	width: $size;
  height: $size;
  animation: rotate 2s linear infinite;

  circle {
    stroke: $color;
		stroke-width: $stroke;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
