@mixin triangle ($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

	$perpendicular-borders: $size solid transparent;

	content: "";
  width: 0;
  height: 0;
  z-index: 2;
  border-#{opposite-direction($direction)}: ($size * 1.5) solid $color;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}
